.title-primary {
    color: purple;
}

#form-success {
    color: green;
}

#form-error {
    color: red;
}

.balance.creditor {
    color: green;
}

.balance.debitor {
    color: black;
}

.balance.decouvert {
    color: red;
}